header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  padding: 10px 0;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

header ul li {
  padding-left: 10px;
  padding-right: 10px;
}

header ul li a {
  text-decoration: none;
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  header {
    justify-content: center;
  }
}
